/*body*/

body{
    background-color: rgb(231, 214, 214);
}

/*header*/
.navbar{
    background-color: lightcoral !important;
    background-image: linear-gradient(to right, lightcoral, coral);
}

.nav-link{
    color: black !important;
    font-weight: bold;
    font-size: large;
}

/*main*/
main{
    margin-top: 20px;
}

.encabezado{
    background-image: url(../images/fondo2.jpg);
    margin: 10px;
}

h1{
    font-family: sans-serif;
    color: black;
    font-size: 50px;
    font-weight: bold;
    flex-wrap: wrap;
}

.seccion{
    background-color: lightcoral;
    background-image: linear-gradient(to right, lightcoral, coral);
}

aside{
    background-image: url(../images/fondo1.jpg);
    background-size: cover;
    height: 620px;
}

/*footer*/
.footer{
    background-color: lightcoral !important;
    background-image: linear-gradient(to right, lightcoral, coral);
    display: flex;
    flex-wrap: wrap;
}

.footer li{
    font-size: 15px;
    list-style: none;
    padding: 10px;
    color: black;
    font-size: large;
    font-weight: bold;
}
